aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.3.0
attrs==24.2.0
beautifulsoup4==4.12.3
big_O==0.11.0
blinker==1.8.2
Brotli==1.1.0
bs4==0.0.2
cachetools==5.4.0
certifi==2024.2.2
cffi==1.17.0
charset-normalizer==3.3.2
chess==1.11.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.11
cryptography==45.0.3
Cython==3.0.11
distro==1.9.0
dnspython==2.7.0
et-xmlfile==1.1.0
fastapi==0.115.6
Flask==3.0.3
frozenlist==1.5.0
futures==3.0.5
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.140.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
googleapis-common-protos==1.63.2
goslate==1.5.4
grpcio==1.65.4
grpcio-status==1.62.3
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
hyperframe==6.1.0
idna==3.6
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
kaitaistruct==0.10
MarkupSafe==2.1.5
MouseInfo==0.1.3
multidict==6.1.0
nltk==3.8.1
numpy==1.26.4
openai==1.30.5
openpyxl==3.1.4
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.2
pefile==2023.2.7
phonenumbers==9.0.3
pillow==10.3.0
prompt_toolkit==3.0.51
propcache==0.2.1
proto-plus==1.24.0
protobuf==4.25.4
pyaes==1.6.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAutoGUI==0.9.54
pycparser==2.22
pydantic==2.7.2
pydantic_core==2.18.3
PyDictionary==2.0.1
pydivert==2.1.0
pygame==2.5.2
PyGetWindow==0.0.9
pyinstaller==6.12.0
pyinstaller-hooks-contrib==2025.1
pymongo==4.10.1
PyMsgBox==1.0.9
pyOpenSSL==25.1.0
pyparsing==3.1.2
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-telegram-bot==21.1.1
pytweening==1.2.0
pytz==2024.1
pywhatkit==5.4
pywin32==308
pywin32-ctypes==0.2.3
pywinauto==0.6.9
PyYAML==6.0.3
questionary==2.1.0
regex==2024.5.15
requests==2.31.0
rsa==4.9
selenium==4.23.1
selenium-wire==5.1.0
setuptools==72.1.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
speedtest-cli==2.1.3
starlette==0.41.3
Telethon==1.35.0
tqdm==4.66.4
trio==0.26.2
trio-websocket==0.11.1
truecallerpy==1.0.3
typing_extensions==4.12.1
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.34.0
wcwidth==0.2.13
webdriver-manager==4.0.2
websocket-client==1.8.0
Werkzeug==3.0.3
wheel==0.44.0
wikipedia==1.4.0
wsproto==1.2.0
yarl==1.18.3
zstandard==0.23.0
